
// Custom Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

$theme-font:'Poppins', sans-serif;
$theme-color:#8d59d7;
$bcolor:#000;
$wcolor:#fff;
$gcolor:#808080;
$grcolor:#41a30d;

// SASS Color Function

$darken-color:     darken($theme-color, 20%);
$lighten-color:    lighten($theme-color, 20%);
$saturate-color:   saturate($theme-color, 50%);
$desaturate-color: desaturate($theme-color, 20%);
$hue-color:        adjust-hue($theme-color, 50%);
$opacity-color:    rgba($theme-color, .5);
$tint-color:       tint($theme-color, 50%);
$shade-color:      shade($theme-color, 50%);

// **************************************************

// Start Sass Mixins

@mixin animation($avalue){
  -webkit-animation: #{$avalue};
  -moz-animation: #{$avalue};
  -o-animation: #{$avalue};
  animation: #{$avalue};
}

@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius; 
}

@mixin border-radius-s($tl, $tr, $br, $bl){
	border-top-left-radius: $tl;
	border-top-right-radius: $tr;
	border-bottom-right-radius: $br;
	border-bottom-left-radius: $bl;
	-webkit-border-top-left-radius: $tl;
	-webkit-border-top-right-radius: $tr;
	-webkit-border-bottom-right-radius: $br;
	-webkit-border-bottom-left-radius: $bl;
	-moz-border-radius-topleft: $tl;
	-moz-border-radius-topright: $tr;
	-moz-border-radius-bottomright: $br;
	-moz-border-radius-bottomleft: $bl;
  -ms-border-radius-topleft: $tl;
  -ms-border-radius-topright: $tr;
  -ms-border-radius-bottomright: $br;
  -ms-border-radius-bottomleft: $bl;
}

@mixin box-shadow($shadows...){
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin keyframes($aname){
  @-webkit-keyframes #{$aname} {
    @content;
  }
  @-o-keyframes #{$aname} {
    @content;
  }
  @-moz-keyframes #{$aname} {
    @content;
  }
  @keyframes #{$aname} {
    @content;
  }
}

@mixin linear-gradient($sc,$sp,$ec,$ep:null) {
  /* fallback/image non-cover color */
  background: $sc;

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, $sc $sp, $ec $ep);

  /* Safari 4+, Chrome 1+ */
  background: -webkit-gradient(linear, left top, right top, color-stop($sp, $sc), color-stop($ep, $ec));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, $sc $sp, $ec $ep);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, $sc $sp, $ec $ep);

  /* IE10+ */
  background: -ms-linear-gradient(left, $sc $sp, $ec $ep);

  /* Standard */
  background: linear-gradient(to right, $sc $sp, $ec $ep);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sc', endColorstr='$ec',GradientType=1 );
}

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin placeholder {
  &.placeholder { @content }
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
}

@mixin scale ($svalue){
	@include transform(scale($svalue));
}

@mixin rotate ($deg){
	@include transform(rotate(#{$deg}deg));
}

@mixin transition($property,$time,$effect){
	-webkit-transition: $property $time $effect;
	-moz-transition: $property $time $effect;
  	-ms-transition: $property $time $effect;
	-o-transition: $property $time $effect;
  	transition: $property $time $effect;
}

@mixin transform($transforms){
	-webkit-transform: $transforms;
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

@mixin translate($x,$y){
	@include transform(translate($x,$y));
}

// *********************************************

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {overflow-x: hidden;}

body {
	background: #fff;
  color: #333;
  font-family:$theme-font;
}

ul li {list-style: none;}

.dropdown:hover>.dropdown-menu{
	display:block;
}

a{
	color:$bcolor;

	&:hover, &:visited, &:focus {
    background-color: transparent;
  	text-decoration: none;
		outline: 0;
	}
}

.zoomIn:hover{
	@include scale(1.2);
	@include transition(all,0.8s,ease);
}

.tbtn {
  @include linear-gradient(#c499f5,0%,#959ff8);
  border: 0;
  @include border-radius(20px);
  color: #fff !important;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  @include opacity(1);
  padding: 10px 25px;
  text-transform: capitalize;

  &:hover{
    @include opacity(0.8);
    @include transition(opacity ,0.4s, ease);
  }
}

.tcolor{color:$theme-color !important;}


.br-0{border-right: 0;}
.bl-0{border-left: 0;}

.sp{
  padding-top: 55px;
  padding-bottom: 55px;
}

.custom-content{
  width: 92%;
  margin-right: auto;
  margin-left: auto;
}

.width80{
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.section-header{
  max-width: 35%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.sectin-content{margin-top: 40px;}

.has-list-style{
  font-size: 15px;
  &:before{
    content: '';
    height: 16px;
    width: 16px;
    background: #8d59d7;
    border: 5px solid #c5abeb;
    border-radius: 50%;
    display: block;
    position: relative;
    top: 19px;
    left: -25px;
  }
}

.middel-align{
  @include translate(0,50%);
}

.theme-btn {
  padding: 30px 0;
  margin-left: -25px;
}

.ml-0{margin-left: 0;}


// CSS For Header Section

.header{
  nav{
    background: $wcolor;
    border: 0;
  }
}

.fixed-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  @include box-shadow(0 3px 2px #ddd);
}



// ************************************

// CSS For Store Create Section

.store-create{
  @include linear-gradient(#959ff8,30%,#c499f5);
  overflow-x: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  .store-create-image{
    .sc-img-1{
      position: relative;
      left: 125px;
    }
    .sc-img-2{
      position: absolute;
      top: 178px;
      left: 150px;
      max-height: 445px;
    }
  }
  .store-create-form{
    width: 60%;
    color: $wcolor;
    margin-right: auto;
    margin-left: auto;
    float: right;

    .sc-title{
      display: block;
      font-size:44px;
    }

    p{
      font-size:13px;
      line-height: 25px;
      margin: 20px 0;
    }

    .input-group{
      .form-control{
        width: 75%;
        background: transparent;
        @include box-shadow(none);
        border: 1px solid $wcolor;
        @include border-radius(20px);
        color: $wcolor;
        
        @include placeholder{
          color: $wcolor;
          font-size: 12px;
          text-transform: capitalize;
        }
      }
      .input-group-btn{
        left: -85px;

        button{
          @include box-shadow(none);
          border: 1px solid $wcolor;
          @include border-radius(20px);
          text-transform: capitalize;

          &:focus,&:hover{
            background: $wcolor;
            outline: 0;
          }
        }
      }
    }
  }
}

// ************************************


// CSS For Clients Section 

.clients{
  background: #f3f6fe;
  padding: 35px 0;

  .clients-slider-title {
    line-height: 40px;
    text-align: center;
  }

  .clients-slider{
    .owl-nav{
      .owl-prev{display: none;}
      .owl-next{
        position: absolute;
        top: -3px;
        right: -35px;
        background: transparent;
        color: $theme-color;
        font-size: 30px;
        outline: 0;
      }
    }
  }
}

// ************************************

// CSS For BM Tool Section

.bm-tools{
  background: #f5f5f5;
  .bm-tool-text{margin-left: 50px;}
}

// ************************************

// CSS For Features Section

.features{
  .feature-box{
    width: 270px;
    height: 290px;
    background: #e2f7fe;
    @include border-radius(5px);
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px 30px;
    text-align: center;

    .ft-image{
      img{margin: auto;}
    }

    .ft-text {
      height: 55px;
      font-size: 20px;
      margin-top: 15px;
      text-transform: uppercase;

      a{color: $bcolor;}
    }

    &:hover{
      @include box-shadow(0px 0px 10px 3px #ddd);
    }
  }  
}



// ************************************

// CSS For Catalog Page


// ************************************



// CSS For Tags Page


// ************************************

